<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%- include ../../public/ejs/header_links.ejs %>.
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>LOGIN TO MANAGE YOUR POLLS</h1>
      <div class="headersubtext">
        Hmm.. something went wrong the last time, let's try again!
      </div>

      <div class="questionBox rdr-shadow-2dp ">
        <form action="/sessions" method="POST">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <input type="submit" value="Login" />
        </form>
      </div>

      <div class="pollssection">
        <div class="headerlinks rdr-shadow-2dp ">
          <a href="/">Home</a>
        </div>
        <div
          class="headerlinks rdr-shadow-2dp col-md-6 col-xs-12 col-lg-6 col-sm-12"
        >
          <a class="headerlinks" href="/poll/new">Add a new poll</a>
        </div>
      </div>
    </div>
  </body>
</html>
