<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%- include ../../public/ejs/header_links.ejs %>.
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>USER INDEX HELLO WORLD</h1>
      <br />

      <h1>Create User</h1>
      <form action="/user/new" method="POST">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" />
        <input type="submit" value="Create User" />
      </form>

      <br />
    </div>
  </body>
</html>
